@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}

:root {
    --veryDarkGrayish: hsl(217, 19%, 35%);
    --desaturatedDarkBlue: hsl(214, 17%, 51%);
    --grayishBlue: hsl(212, 23%, 69%);
    --lightGrayishBlue: hsl(210, 46%, 95%);
    --fontManrope: 'Manrope', sans-serif;
}

body {
    background-color: var(--lightGrayishBlue);
}

main {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.card {
    display: flex;
    height: 400px;
    width: 900px;
    border-radius: 10px;
    background-color: white;
    border-radius: 15px;
}

.card>img {
    width: 400px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

}

.description-card {
    padding: 10px 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description-card h1 {
    font-size: 24px;
    color: var(--veryDarkGrayish);
}

.description-card>p {
    padding: 10px 0;
    font-size: 16px;
    line-height: 25px;
    color: var(--veryDarkGrayish);
}

.description-card .data-autor {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.description-card .data-autor #btn>img {
    background-color: var(--lightGrayishBlue);
    padding: 15px;
    border-radius: 50%;
    transition: 0.5s all;
}

.description-card .data-autor #btn>img:hover {
    cursor: pointer;
    background-color: var(--veryDarkGrayish);
}

.description-card .data-autor .autor {
    display: flex;
    align-items: center;
}

.description-card .data-autor .autor img {
    height: 60px;
    border-radius: 50%;
}

.description-card .data-autor .autor .description {
    padding: 0 20px;
}

.description-card .data-autor .autor .description h3 {
    color: var(--veryDarkGrayish);
    font-size: 16px;
}

.description-card .data-autor .autor .description p {
    color: var(--desaturatedDarkBlue);
    font-size: 14px;
}

#btn {
    position: relative;
}


.share {
    background-color: var(--veryDarkGrayish);
    padding: 7px 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 250px;
    position: absolute;
    left: -100px;
    top: -105px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.37);

    opacity: 1;
    visibility: visible;
    transition: 0.5s all;
}

.off {
    opacity: 0;
    visibility: hidden;
    transition: 0.5s all;
}

.share::after {
    content: '';
    width: 0;
    height: 0;
    border-right: 15px solid transparent;
    border-top: 15px solid var(--veryDarkGrayish);
    border-left: 15px solid transparent;
    border-bottom: 15px solid transparent;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.share p {
    padding-right: 10px;
    color: var(--grayishBlue);
    letter-spacing: 6px;
    font-size: 15px;
}

.share .icons>img {
    padding: 0 7px;
}

.btn-share {
    position: relative;
}